<div class="top-page">
  <h1>List of castles </h1>
</div>

  <div
    id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="container mt-5">
  <ul>
  <% @properties.each do |castle| %>
    <li class="card card-grid">
      <h2><%= castle.name %></h2>
        <p>Adresse: <strong><%= castle.address %></strong></p>
        <p>price: <strong><%= castle.price%> €</strong></p>
        <p> <% castle.photos.each do |photo| %><%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %><% end %></strong></p>
        <%= link_to "Show me this place", "properties/#{castle.id}", class:"button-card" %>
        <% if policy(castle).edit? %>
        <tr>
          <td><%= link_to "Update", edit_property_path(castle) %></td>
          <td><%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
        </tr>
    </li>
  <% end %>
</ul>
</div>







