<!--TOP PAGE-->
<div class="top-page">
  <div class="bg-cornflower-blue">
    <div class="container">
            <div class="py-lg-8 py-md-7 py-6">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <div class="text-center">
                    <h1 class="mb-3 text-white mt-n1">Properties</h1>
                    <div class="pt-3">
                      <p class="px-lg-6 text-white mb-2">Our goal is to make your holidays an interlude of pure freedom that allows you to share precious moments with your near and dear ones.
                      Our recipe: a collection of the most beautiful houses to rent and memorable experiences to live, taking your every wish as a leitmotif to create your fully made-to-measure holidays.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>

<!--MAP-->
      <div
        id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div>

<!--WRAP-->
<div class="container mt-4">
  <div>
        <ul>
        <% @properties.each do |castle| %>
          <li class="card card-grid">
            <h2><%= castle.name %></h2>
              <p>Adresse: <strong><%= castle.address %></strong></p>
              <p>price: <strong><%= castle.price%> €</strong></p>
              <p> <% castle.photos.each do |photo| %><%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %><% end %></strong></p>
              <%= link_to "Show me this place", "properties/#{castle.id}", class:"button-card" %>
              <% if policy(castle).edit? %>
              <tr>
                <td><%= link_to "Update", edit_property_path(castle), class: :link %></td>
                <td><%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' }, class: :link %></td>
            <% end %>
              </tr>
          </li>
        <% end %>
      </ul>
      </div>
</div>


