<section>
  <div class="container-fluid">
    <div>
  <% @property.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 320, width: 460, crop: :fill %>
  <% end %>
</div>
<div class="container p-3 mb-5 bg-white custom-container shadow-sm text-center">
  <h1><%= @property.name  %> </h1>
  <p><%= @property.address %></p>
  <p class="price-tag"><%= @property.price %>€</p>
</div>

<div class="links">
  <% if user_signed_in? %>
    <%= link_to "New reservation", "#{@property.id}/reservations/new", class: :link %>
  <% end %>

  <% unless @property.reservations.empty? %>
    <tr>| <%= link_to 'Show my resa', property_reservation_path(@property, @property.reservations.where(user: current_user).first), class: :link %></tr>
  <% end  %>

  <tr>
  <% if policy(@property).edit? %>
    <td>| <%= link_to "Update Castle", edit_property_path(@property), class: :link %> |</td>
    <td><%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' }, class: :link %></td>
  <% end %>
  </tr>


  <div class="back-to">
    <%= image_tag("back.png")%>
    <%= link_to "Back to all Castles", properties_path, class:'back-to-link' %>
  </div>
</div>



  </div>
</section>
