<div class="container">
  <h1><%= @property.name  %> </h1>
  <%= link_to "Back to all Castles", root_path %>
  <br>
  <%= cl_image_tag @property.photo, height: 300, width: 400, crop: :fill %>
  <h2>Price </h2>
  <p><%= @property.price %></p>
  <h2>Location</h2>
  <p><%= @property.location %></p>
</div>
