<div class="container">
  <h1><%= @property.name  %> </h1>

  <br>

  <% @property.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <h2>Price </h2>
  <p><%= @property.price %>€</p>
  <h2>Location</h2>
  <p><%= @property.location %></p>
</div>
<br>

<hr>

<% if user_signed_in? %>
  <%= link_to "New reservation", "properties/#{@property.id}/reservations/new" %>
<% end %>

<%= link_to "Back to all Castles", root_path %>
